.DS_Store
.~lock.*
*.dep
I*.swp
*.bak
*.save
*.lnk
__pycache__
*.pyc
Thumbs.db


*.log
*.echo
*.3mf

times.txt

.vscode/
scad/target.scad
scad/bom.scad
scad/stlimporttemp

tests.md
tests.html
tests/*
!tests/*.scad

RODS/*

CNC3018/assemblies/*
CNC3018/bom/
CNC3018/dxfs/*
CNC3018/stls/*
CNC3018/tmp/
CNC3018/*.html
# change to ! once released
CNC3018/readme.md
!CNC3018/assemblies/main_assembled.png
#!CNC3018/assemblies/*.png
CNC3018/assemblies/*_diff.png
#!CNC3018/dxfs/*.dxf
#!CNC3018/dxfs/*.png
CNC3018/dxfs/*_diff.png
#!CNC3018/stls/*.stl
#!CNC3018/stls/*.png
CNC3018/stls/*_diff.png

CNC3018LR/assemblies/*
CNC3018LR/bom/
CNC3018LR/dxfs/*
CNC3018LR/stls/*
CNC3018LR/tmp/
CNC3018LR/*.html
# change to ! once released
CNC3018LR/readme.md
CNC3018LR/assemblies/main_assembled.png
#!CNC3018LR/assemblies/*.png
CNC3018LR/assemblies/*_diff.png
#!CNC3018LR/dxfs/*.dxf
#!CNC3018LR/dxfs/*.png
CNC3018LR/dxfs/*_diff.png
#!CNC3018LR/stls/*.stl
#!CNC3018LR/stls/*.png
CNC3018LR/stls/*_diff.png
