.DS_Store
.~lock.*
*.dep
I*.swp
*.bak
*.save
*.lnk
__pycache__
*.pyc
Thumbs.db


*.log
*.echo
*.3mf

times.txt

.vscode/
scad/target.scad
scad/bom.scad
scad/stlimporttemp

tests.md
tests.html
tests/*
!tests/*.scad


RODS/assemblies/*
RODS/bom/
RODS/dxfs/*
RODS/stls/*
RODS/tmp/
RODS/*.html
# change to ! once released
RODS/readme.md
RODS/assemblies/main_assembled.png
#!RODS/assemblies/*.png
RODS/assemblies/*_diff.png
#!RODS/dxfs/*.dxf
#!RODS/dxfs/*.png
RODS/dxfs/*_diff.png
#!RODS/stls/*.stl
#!RODS/stls/*.png
RODS/stls/*_diff.png

RAILS/assemblies/*
RAILS/bom/
RAILS/dxfs/*
RAILS/stls/*
RAILS/tmp/
RAILS/*.html
# change to ! once released
RAILS/readme.md
RAILS/assemblies/main_assembled.png
#!RAILS/assemblies/*.png
RAILS/assemblies/*_diff.png
#!RAILS/dxfs/*.dxf
#!RAILS/dxfs/*.png
RAILS/dxfs/*_diff.png
#!RAILS/stls/*.stl
#!RAILS/stls/*.png
RAILS/stls/*_diff.png
